asgiref==3.7.2
click==8.1.7
colorama==0.4.6
cssbeautifier==1.15.1
defusedxml==0.7.1
diff-match-patch==20230430
Django==5.0.3
django-humanize==0.1.2
django-import-export==3.3.7
django-jazzmin==2.6.0
djlint==1.34.1
EditorConfig==0.12.4
et-xmlfile==1.1.0
gunicorn==21.2.0
html-tag-names==0.1.2
html-void-elements==0.1.0
humanize==4.9.0
jsbeautifier==1.15.1
json5==0.9.22
MarkupPy==1.14
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.2
pathspec==0.12.1
pillow==10.2.0
# psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
PyYAML==6.0.1
regex==2023.12.25
shortuuid==1.0.12
six==1.16.0
sqlparse==0.4.4
tablib==3.5.0
tqdm==4.66.2
tzdata==2024.1
xlrd==2.0.1
xlwt==1.3.0
